{% extends "layout.html" %}
{% block body %}

<div class="row">
    <div class="card card-body">
        <form action="/create" method="POST">
            <legend>INSERT</legend>

            <!-- <div class="form-group">
                <input type="text" class="form-control" name="petName" placeholder="Pet Name">
            </div> -->
            <!-- <div class="form-group">
                <input type="text" class="form-control" name="age" placeholder="Age">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="race" placeholder="Race">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="specie" placeholder="Specie">
            </div> -->

        
            <div class="form-group">
                <label class="col-form-label mt-4" for="petName">Pet Name</label>
                <input type="text" class="form-control" name="petName" placeholder="Pet Name">
            </div>

            <div class="form-group">
                <label class="col-form-label mt-4" for="age">Age</label>
                <input type="text" class="form-control" name="age" placeholder="Age">
            </div>

            <div class="form-group">
                <label class="col-form-label mt-4" for="race">Race</label>
                <input type="text" class="form-control" name="race" placeholder="Race">
            </div>

            <div class="form-group">
                <label class="col-form-label mt-4" for="specie">Specie</label>
                <input type="text" class="form-control" name="specie" placeholder="Specie">
            </div>



            <br />
            <button class="btn btn-primary btn-block me-md-2">
                Save
            </button>
        </form>
    </div>
</div>


{% endblock %}